@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e2e8f0;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(2,6,23,0.8);
}

nav h2 {
  color: #38bdf8;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #e2e8f0;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  color: #38bdf8;
  margin: 10px 0;
}

.hero p {
  max-width: 600px;
  margin: 20px 0;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.btn.outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* SECTION */
.section {
  padding: 80px 20px;
  text-align: center;
}

/* CARDS */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px;
  width: 300px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(56,189,248,0.3);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}